html,body{
    width:100%; height:100%; float:left; margin:0 auto; overflow:scroll;
}
ul,li{
    list-style: none; margin:0; padding:0;
}
div.main{
    width:80%; overflow:hidden; float:left;
}
div.mian div{
    width:100%; height:auto; float:left;
}
div.main div.title{
    width:100%; height:auto; float:left;
    background-color:#555; line-height:40px; font-size:18px; color:#fff;
    padding:0 10px;
}
div.main div.description{
    width:100%; height:auto; float:left; font-size:14px; line-height:30px;
    padding:0 10px; color:#555; margin-bottom:20px;
}